/* ESTILOS PAGINA PRINCIPAL */
.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.map {
  height: 100%;
  width: 100%;
}

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App, .App > *{ 
  padding-top: 80px;
}

.top-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
   z-index: 500;
}

.filter-wrapper {
  display: flex;
  justify-content: flex-start;
}

.search-wrapper {
  display: flex;
  justify-content: center;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* ESTILOS LOGIN/REGISTER PAGE */
.back-to-map {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 0.3rem 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 1000;
  color: #deb438;
  border: 1px solid #deb438;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease;
}

.back-to-map:hover{
  background-color: white;
  color: #deb438;
  transform: scale(1.1);
}

.login-page-div {
  display: flex;
  background-image: url('./assets/loginBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;  
}

.register-page-div{
  display: flex;
  background-image: url('./assets/registerBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
}

.div-register, .div-login-form, .div-login, .div-register-form{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.div-register p:nth-child(1), .div-login-form p:nth-child(1), .div-login p:nth-child(1), .div-register-form p:nth-child(1){
  font-weight: bold;
  font-size: 50px;
}

.div-register, .div-login{
  position: relative;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.div-register p:nth-child(2), .div-login p:nth-child(2){
  font-size: large;
  line-height: 1.5;
  padding-left: 40px;
  padding-right: 40px;
}

.button-register, .button-login{
  margin-top: 1.5rem;
  padding: 0.7rem 2rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-register:hover, .button-login:hover{
  background-color: white;
  color: #deb438  ;
}

.div-login-form p, .div-register-form p{
  margin-bottom: 30px;
}

.form-login, .form-register{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.input-wrapper input {
  width: 500px;
  padding: 12px 12px 12px 40px;
  border: 1px solid rgb(223, 223, 223);
  background-color: rgb(223, 223, 223);
  border-radius: 8px;
  font-size: 1rem;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.button-login-form, .button-register-form{
  margin-top: 1.5rem;
  padding: 0.7rem 2rem;
  background-color: #009990;
  border: 2px solid #009990;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button-login-form:hover, .button-register-form:hover{
  transform: scale(1.1);
}

.source-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: white;
  padding: 20px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 999;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  float: right;
  cursor: pointer;
}

.panel-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.estado-ok {
  color: green;
}

.comentarios {
  margin-top: 1rem;
}

.comentario {
  background: #f1f1f1;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 500 !important; /* 🔽 por debajo del overlay (998) y panel (9999) */
}
